<script id="data-script" type="application/json">
  <%- JSON.stringify(files) %>
</script>

<%- include('partials/header') -%>
<%- include('partials/spinner') -%>
<%- include('partials/alert') -%>

<div class="layout">

  <%- include('partials/desktop-sidebar') -%>

  <main class="layout-main">
    <% if (locals.currentUser) { %>
    <!-- <h2 class="title">Welcome back <%= currentUser.username %></h2> -->

    <%- include('partials/breadcrumb', { baseUrl: '/folders' }) -%>
    <%- include('partials/data-table', { baseUrl: '/folders' }) -%>

    <sl-drawer label="File Information" class="drawer-overview">
      <div class="drawer-content"></div>
      <div class="btn-group" slot="footer">
        <sl-button class="drawer-close-btn">Close</sl-button>
        <sl-button class="drawer-share-btn">Share</sl-button>
        <form action="" class="delete-file-form" method="POST">
          <input type="hidden" name="type" value="FILE"></input>
          <input type="hidden" name="parentId" value="<%= folderId %>"></input>
          <sl-button type="submit" class="delete-file-btn">Delete</sl-button>
        </form>
        <sl-button variant="primary" class="drawer-download-btn">Download</sl-button>
      </div>
    </sl-drawer>

    <sl-dialog label="New Folder" class="dialog-focus new-folder-dialog">
      <form id="new-folder-form" action="/folders" method="post">
        <input type="hidden" name="parentId" value="<%= folderId || null %>">
        <sl-input name="name" label="Name" autofocus placeholder=""></sl-input>
        </br>
        <sl-button type="submit" slot="footer" variant="primary">Create Folder</sl-button>
      </form>
    </sl-dialog>

    <sl-dialog label="New File" class="dialog-focus new-file-dialog">
      <form id="upload-form" class="upload-form" action="/files" enctype="multipart/form-data" method="POST">
        <sl-progress-bar class="upload-progress" value="0"></sl-progress-bar>
        <div class="form-group">
          <input type="file" name="uploaded_file"></input>
          <p id='file-error' class="error">File size exceeds the 50MB limit</p>
          <input type="hidden" name="parentId" value="<%= folderId %>">
          </br>
          <sl-button type="submit" slot="footer" variant="primary">Upload</sl-button>
        </div>
      </form>
    </sl-dialog>

    <sl-dialog label="Delete Folder" class="dialog-focus delete-folder-dialog">
      Are you sure you want to delete the current folder and all of its contents?
      <form id="delete-form" action="<%=`/folders/${folderId}?_method=DELETE`%>" method="POST">
        <input type="hidden" name="parentId" value="<%= parentId %>">
        </br>
        <div class="btn-group">
          <sl-button slot="footer">Cancel</sl-button>
          <sl-button type="submit" slot="footer" variant="primary">Delete</sl-button>
        </div>
      </form>
    </sl-dialog>

    <sl-dialog label="Share Folder" class="dialog-focus share-folder-dialog">
      Generate a public link to share the current folder and its contents
      <form id="share-folder-form">
        </br>
        <sl-radio-group label="Duration" name="a" value="72" help-text="Links will expire after the specified duration">
          <sl-radio-button value="1">1 hour</sl-radio-button>
          <sl-radio-button value="4">4 hours</sl-radio-button>
          <sl-radio-button value="24">1 day</sl-radio-button>
          <sl-radio-button value="72">3 days</sl-radio-button>
          <sl-radio-button value="168">1 week</sl-radio-button>
        </sl-radio-group>
        <div class="share-link-container"></div>
        <div class="btn-group">
          <sl-button slot="footer">Cancel</sl-button>
          <sl-button id="generate-folder-link-btn" slot="footer" variant="primary" data-id="<%= folderId %>">
            Generate Link
          </sl-button>
        </div>
      </form>
    </sl-dialog>

    <sl-dialog label="Share Public Link" class="dialog-focus share-dialog">
      Generate a public link to share the selected file
      <form id="share-file-form">
        </br>
        <sl-radio-group label="Duration" name="a" value="72" help-text="Links will expire after the specified duration">
          <sl-radio-button value="1">1 hour</sl-radio-button>
          <sl-radio-button value="4">4 hours</sl-radio-button>
          <sl-radio-button value="24">1 day</sl-radio-button>
          <sl-radio-button value="72">3 days</sl-radio-button>
          <sl-radio-button value="168">1 week</sl-radio-button>
        </sl-radio-group>
        <div class="share-link-container"></div>
        <div class="btn-group">
          <sl-button slot="footer">Cancel</sl-button>
          <sl-button id="generate-link-btn" slot="footer" variant="primary">Generate Link</sl-button>
        </div>
      </form>
    </sl-dialog>

    <% } else { %>
    <!-- Handle case when there is no currentUser -->
    <% } %>
  </main>
</div>
<div class="mobile-footer" aria-role="navigation">
  <sl-icon-button name="folder-plus" class="new-folder-btn" label="New Folder"></sl-icon-button>
  <sl-icon-button name="file-earmark-plus" class="new-file-btn" label="Upload File"></sl-icon-button>
  <% if (folderId) { %>
  <sl-icon-button name="trash" class="delete-folder-btn" label="Delete Folder"></sl-icon-button>
  <% } else { %>
  <sl-icon-button name="box-arrow-right" href="/logout" label="Logout"></sl-icon-button>
  <% } %>
</div>

<script type="module" src="/scripts/folder.min.js"></script>

<%- include('partials/footer') -%>