<%- include('partials/header') %>

<main class="login">
  <div class="form-container">

    <% if (locals.currentUser) { %>
    <h2 class="title">Welcome back <%= currentUser.username %></h1>
      <a href="/logout">Log out</a>
      <% } else { %>

      <form id="login-form"action="/login" method="POST" class="input-validation-required">
        <h2 class="title">Log in</h2>
        <p>Don't have an account yet? <a href="/sign-up">Sign up</a></p>

        <div class="input-container">
          <sl-input 
            class="login-input" 
            id="username" 
            name="username" 
            label="Username" 
            required 
            autofocus 
            value="<%= locals.username %>"
          >
            <sl-icon slot="suffix" name="exclamation-octagon" class="icon hidden"></sl-icon>
          </sl-input>
          <span id='username-error' class="<%= locals.usernameError ? "error active" : "error" %>">
            <%= locals.usernameError %>
          </span>
        </div>
        <br />

        <div class="input-container">
          <sl-input 
          class="login-input" 
          type="password" 
          id="password" 
          name="password" 
          label="Password" 
          required
          >
            <sl-icon slot="suffix" name="exclamation-octagon" class="icon hidden"></sl-icon>
          </sl-input>
          <span id='password-error' class="<%= locals.passwordError ? "error active" : "error" %>">
            <%= locals.passwordError %>
          </span>
        </div>
        <br />

        <sl-button type="submit">Log in</sl-button>
        <div class="authentication-error">
          <span class="<%= locals.errors ? "error active" : "error" %>"><%= locals.errors %></span>
      </form>
  </div>

  <% } %>
</main>
<script type="module" src="/scripts/login.min.js"></script>

<%- include('partials/footer') %>
