<sl-tree>
  <sl-tree-item expanded <%= (!folderId || folderId === rootFolder.id) ? "selected" : "" %>>
    <a href="<%= baseUrl %>/<%= rootFolder.id %>" tabindex="-1"><%= rootFolder.name %></a>
    <% function renderTree(items) { %>
    <% items.forEach(item => { %>
    <sl-tree-item data-id="<%= item.id %>" <%= item.id === folderId && "selected" %> <%= pathSegments && pathSegments.some(segment => segment.name === item.name) && "expanded" %>>
      <a href="<%= baseUrl %>/<%= item.id %>" tabindex="-1"><%= item.name %></a>
      <% if (item.childEntities && item.childEntities.length > 0) { %>
      <%= renderTree(item.childEntities) %>
      <% } %>
    </sl-tree-item>
    <% }); %>
    <% } %>
    <%= renderTree(folders) %>
  </sl-tree-item>
</sl-tree>
